<ion-app>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo a sua <br> carteirinha digital!</ion-card-title>
      <ion-card-subtitle>Faça login ou cadastre-se para podermos continuar!</ion-card-subtitle>
    </ion-card-header>

    <div class="nsei">
      <ion-item>
        <ion-input class="animated-input nome" placeholder="Nome" (input)="onInput($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="animated-input" placeholder="Sobrenome" (input)="onInput($event)"></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-input class="animated-input" placeholder="Email" (input)="onInput($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="animated-input" placeholder="CPF" (input)="onInput($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="animated-input" placeholder="Senha" (input)="onInput($event)"></ion-input>
    </ion-item>

    <ion-button (click)="onSubmit()">Cadastrar</ion-button>

    <ion-text>Já possui cadastro?</ion-text>
    <ion-text class="cadastro">Clique aqui</ion-text>
  </ion-card>
</ion-app>