<ion-app>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo a sua <br> carteirinha digital!</ion-card-title>
      <ion-card-subtitle>Faça login ou cadastre-se para podermos continuar!</ion-card-subtitle>
    </ion-card-header>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="nsei">
        <ion-item>
          <ion-input 
            class="nome animated-input" 
            placeholder="Nome"
            formControlName="nome"
            type="text"
            (input)="onInput($event)">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input 
            class="animated-input"
            placeholder="Sobrenome"
            formControlName="sobrenome"
            type="text"
            (input)="onInput($event)">
          </ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-input 
          class="animated-input" 
          placeholder="Email"
          formControlName="email"
          type="email"
          (input)="onInput($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          class="animated-input" 
          placeholder="CPF"
          formControlName="cpf"
          type="text"
          inputmode="numeric"
          maxlength="14"
          (input)="formatCPF($event); onInput($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          class="animated-input" 
          placeholder="Senha"
          formControlName="senha"
          type="password"
          (input)="onInput($event)">
        </ion-input>
      </ion-item>

      <ion-button type="submit">Cadastrar</ion-button>
    </form>

    <ion-text>Já possui cadastro?</ion-text>
    <ion-text class="cadastro" (click)="gologin()">Clique aqui</ion-text>
  </ion-card>
</ion-app>