<ion-app>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem vindo a sua <br> carteirinha digital!</ion-card-title>
      <ion-card-subtitle>Faça login ou cadastre-se para podermos continuar!</ion-card-subtitle>
    </ion-card-header>

    <div class="nsei">
      <ion-item>
        <ion-input class="nome" placeholder="Nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Sobrenome"></ion-input>
      </ion-item>
    </div>



    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Senha"></ion-input>
    </ion-item>

    <ion-button (click)="onSubmit()">Cadastrar</ion-button>

    <ion-text>Já possui cadastro?</ion-text>
    <ion-text class="cadastro">Clique aqui</ion-text>
  </ion-card>
</ion-app>
