
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Gabarito:wght@400..900&display=swap');

*{
  font-family: 'Albert Sans', sans-serif;
}

ion-content {
  --background: url('../../assets/planodefundologin.png') center/cover no-repeat;
}

ion-card {
  --background: #3A8CB4;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
  color: white;
  animation: fadeInCard 0.8s ease-in-out;
}

ion-card-title { color: white; font-size: 20px; font-weight: bold; }
ion-card-subtitle { color: white; font-size: 13px; }

ion-item {
  --background: #3A8CB4;
  --border-color: white;
  margin: 10px 0;
  color: white;
}

ion-button {
  display: grid;
  --background: white;
  --border-radius: 20px;
  --color: black;
  padding: 10px;
  padding-bottom: 20px;
}

ion-text {
  font-size: 12px;
  opacity: 0.5;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.cadastro {
  font-size: 12px;
  opacity: 0.5;
  padding: 0 20px;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.nsei {
  display: flex;
  gap: 15px;

}



@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: translateY(-55%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(-55%) scale(1);
  }
}