<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="suporte-container">
      <div class="content-wrapper">
        <h1 class="titulo">Não consegue recarregar?</h1>
        <p class="subtitulo">
          Contate-nos para podermos ajudá-lo(a) o mais rápido possível :)
        </p>
        
        <div class="email-container">
          <p class="email">suportebustap@gmail.com</p>
        </div>
      </div>
      
      <div class="footer-section">
        <p class="footer-text">Não é isso que você procura?</p>
        
        <ion-button expand="block" class="custom-button" (click)="voltarOuAcao()">
          Clique Aqui
        </ion-button>
        
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-suporte">
          <ion-fab-button size="small" color="medium">
            <ion-icon name="help-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
  </ion-content>