ion-app{
  background-image: url('../../assets/planodefundologin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  
}

ion-card-title{
  color: white;
  font-size: 20px;
}

ion-card-subtitle{
  color: white;
  font-size: 13px;
}

ion-card{
    --background: #3A8CB4;
    color: black;
    border-radius: 20px;
    text-align:start;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-55%);
    color: white;
}

ion-item{
  --background: #3A8CB4;
  --border-style: none;
  padding: 13px 0;
  font-size: 15px;
}

ion-button {
  text-align: center;
  justify-content: center;
  display: grid;
  --background: white;
  padding: 10px;
  margin-bottom: 40px;
}

ion-text{
  opacity: 0.5;
  padding: 10px 10px;
  text-decoration:underline;
}