<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Histórico de tickets</h2>

  <ion-searchbar
    placeholder="Pesquisar..."
    class="search-custom"
    showCancelButton="never"
    [(ngModel)]="termoBusca"
    (ionInput)="filtrar()">
  </ion-searchbar>

  <ion-list *ngIf="historicoFiltrado.length > 0; else vazio">

    <ion-item lines="none" *ngFor="let item of historicoFiltrado">
      <ion-label>
        <h3>{{ item.rota }}</h3>
        <p>Ticket: {{ item.ticket }}</p>
      </ion-label>
      <div slot="end" class="data">
        <strong>{{ item.dia }}</strong>
        <p>{{ item.mes }}</p>
      </div>
    </ion-item>

  </ion-list>

  <ng-template #vazio>
    <div class="vazio">
      <ion-icon name="search-outline"></ion-icon>
      <p>Nenhum resultado encontrado.</p>
    </div>
  </ng-template>

</ion-content>