<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Histórico de viagens</h2>

  <ion-searchbar
    placeholder="Pesquisar..."
    class="search-custom"
    showCancelButton="never"
    [(ngModel)]="termoBusca"
    (ionInput)="filtrar()">
  </ion-searchbar>

  <!-- Carregando -->
  <div class="vazio" *ngIf="carregando">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando histórico...</p>
  </div>

  <!-- Lista -->
  <ion-list *ngIf="!carregando && historicoFiltrado.length > 0; else vazio">
    <ion-item lines="none" *ngFor="let item of historicoFiltrado">
      <ion-label>
        <h3>{{ item.origem }} → {{ item.destino }}</h3>
        <p>{{ item.distancia_km }} km</p>
      </ion-label>
      <div slot="end" class="data">
        <strong>{{ getDia(item.usado_em) }}</strong>
        <p>{{ getMes(item.usado_em) }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #vazio>
    <div class="vazio" *ngIf="!carregando">
      <ion-icon name="search-outline"></ion-icon>
      <p>Nenhuma viagem encontrada.</p>
    </div>
  </ng-template>

</ion-content>