<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Histórico de tickets</h2>

  <ion-searchbar
    placeholder=""
    class="search-custom"
    showCancelButton="never">
  </ion-searchbar>

  <ion-list>

    <ion-item lines="none">
      <ion-label>
        <h3>Marília → Quintana</h3>
        <p>Ticket: 30 Min</p>
      </ion-label>
      <div slot="end" class="data">
        <strong>07</strong>
        <p>JUN</p>
      </div>
    </ion-item>

  </ion-list>

</ion-content>