<ion-content>
  <div class="form-container">
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <h2>Bem vindo a sua carteirinha digital!</h2>
      <p>Faça login ou cadastre-se para podermos continuar!</p>

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input formControlName="sobrenome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input formControlName="cpf"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!cadastroForm.valid">
        Cadastrar
      </ion-button>

      <p class="login-text">Já possui cadastro? <a routerLink="/login">Clique aqui.</a></p>
    </form>
  </div>
</ion-content>
